<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h1><a [routerLink]="['/']">Nacional</a></h1>
            <small>Institución privada</small>
        </div>
        <div class="col-md-5">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['/']">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/alumnos']">Alumnos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/cursos']">Cursos</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>+51 987 654 321</h2>
            <button>Llámenos</button>
        </div>
    </div>
</div>