<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h3>Educación con lo mejor de la tecnología</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed purus nisl, vulputate ac lorem non, tincidunt malesuada eros. Aenean et tellus non ipsum convallis volutpat.</p>
        </div>
        <div class="col-md-4">
            <h3>Calidad de Enseñanza</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed purus nisl, vulputate ac lorem non, tincidunt malesuada eros. Aenean et tellus non ipsum convallis volutpat.</p>
        </div>
        <div class="col-md-4">
            <h3>Convenios con Universidades</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed purus nisl, vulputate ac lorem non, tincidunt malesuada eros. Aenean et tellus non ipsum convallis volutpat.</p>
        </div>
    </div>
</div>