<div class="container-fluid" id="mensaje-enlaces">
    <div class="container">
        <div class="row" id="unirse">
            <div class="col-md-6">
                <p id="unete">----- Únete a nuestro equipo</p>
                <h2>Estamos esperando tu respuesta</h2>
            </div>
            <div class="col-md-6" id="boton">
                <button>Postula Hoy</button>
            </div>
        </div>
        <div class="row" id="enlaces">
            <div class="col-md-4">
                <h4><span>---</span> Enlaces</h4>
                <ul class="nav justify-content-left">
                    <li class="nav-item">
                      <a class="nav-link active" [routerLink]="['/']">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/alumnos']">Alumnos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/cursos']">Cursos</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4><span>---</span> Ramas</h4>
                <ul class="nav justify-content-left">
                    <li class="nav-item">
                      <a class="nav-link active" [routerLink]="['/']">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/alumnos']">Alumnos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/cursos']">Cursos</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4><span>---</span> Galería de Fotos</h4>
                <div class="container-fluid" id="imagenes">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets\img1.jpg">
                        </div>
                        <div class="col-md-4">
                            <img src="assets\img2.jpg">
                        </div>
                        <div class="col-md-4">
                            <img src="assets\img3.jpg">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets\img4.jpg">
                        </div>
                        <div class="col-md-4">
                            <img src="assets\img5.jpg">
                        </div>
                        <div class="col-md-4">
                            <img src="assets\img6.jpg">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets\img7.jpg">
                        </div>
                        <div class="col-md-4">
                            <img src="assets\img8.jpg">
                        </div>
                        <div class="col-md-4">
                            <img src="assets\img9.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="copy">
    <div class="container" id="copyright">
        <div class="row">
            <div class="col-md-6">
                <h6>Copyright By @Shtheme-2020</h6>
            </div>
            <div class="col-md-6" id="redes">
                <img class="logo" src="assets\facebook.png" width="2px" height="2px">
                <img class="logo" src="assets\twitter.png" width="2px" height="2px">
                <img class="logo" src="assets\behance.png" width="2px" height="2px">
                <img class="logo" src="assets\youtube.png" width="2px" height="2px">
            </div>
        </div>
    </div>
</div>