<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets\profesores.png" alt="">
            </div>
            <div class="col-md-6" id="descripcion">
                <h5><span>---</span> Sobre Nosotros</h5>
                <h3>Años de Enseñanza con los mejores profesores</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus, felis quis porta condimentum, dui nulla vulputate nisl, non accumsan justo nunc sit amet dolor. Aenean ornare mauris efficitur, accumsan enim non, auctor felis.</p>
            </div>
        </div>
    </div>
</div>